<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form action="/todo/modify" method="post">
        <input type="hidden" name="tno" th:value="${todo.tno}">
        <input type="hidden" name="page" th:value="${pageRequestDto.page}">
        <input type="hidden" name="size" th:value="${pageRequestDto.size}">
        <div>
            <input type="text" name="title" placeholder="insert title" th:value="${todo.title}">
        </div>
        <div>
            <input type="date" name="dueDate" th:value="${todo.dueDate}">
        </div>
        <div>
        <div th:text="${todo}">
        </div>
            <button id="listBtn">목록</button>
            <button>수정</button>
        </div>
        <br>
        <div th:if="${errors}" style="border:1px solid red">
            <ul th:each="error : ${errors}">
                <li th:text="${error}" >errorzz</li>
            </ul>
        </div>
    </form>

    <script>
    document.querySelector('#listBtn').addEventListener('click', (e)=>{
        e.preventDefault();	//폼의 기본 동작을 막는다.
        const page = document.querySelector('input[name="page"]').value;
        const size = document.querySelector('input[name="size"]').value;

        window.location.href = `/todo/index?page=${page}&size=${size}`;
    });
    </script>
</body>
</html>