<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <form action="/todo/register" method="post">
        <div>
            <input type="text" name="writer" placeholder="insert writer">
        </div>
        <div>
            <input type="text" name="title" placeholder="insert title">
        </div>
        <div>
            <input type="date" name="dueDate">
        </div>
        <div>
            <button id="listBtn">목록</button>
            <button type="reset">리셋</button>
            <button>등록</button>
        </div>
        <br>
        <div th:if="${errors}" style="border:1px solid red">
            <ul th:each="error : ${errors}">
                <li th:text="${error}" >errorzz</li>
            </ul>
        </div>
    </form>


    <script>
    document.querySelector('#listBtn').addEventListener('click', (e)=>{
        e.preventDefault(); //폼의 기본 동작을 막는다.
        window.location.href = `/todo/index`;
    });
    </script>
</body>
</html>